{% load widget_tweaks %}
<body>
    {% block header %}
    <div class="page-header">
        {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}" class="top-menu"><span class="glyphicon glyphicon-log-out"></span></a>
            <a href="{% url 'post_add' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        {% else %}
        <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-log-in"></span></a>
        {% endif %}
        <h1><a href="/">Главная страница</a></h1>
    </div>
    {% endblock %}